# Metadata
*.aliases
*.lvlps

# Digital Pattern Editor
.cache/

# Python
__pycache__

# Python Environments
.env
.venv
env/
venv/

# Python Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Builds
build/
builds/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/